@charset "utf-8";

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hotpink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#temp-border {
  border: 1px solid black;
}

// Nav bar styling
#nav-contain {
  background-color: grey;
}

// About me component styling
#about-contain {
  background-color: red;
}

// Skills component styling
#skills-contain {
  background-color: green;
}

#skills-title {
  color: white;
  margin-top: 50px;
  margin-bottom: none;
}

#tech-logo {
  height: 96px;
  width: 96px;
}

// Contact form styling
#contact-contain {
  background-color: blue;
}

#form-section {
  border: 2px solid black;
}

// Project component styling
#project-contain {
  background-color: yellow
}

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Neucha&display=swap');

// Set your brand colors
$red: #940818;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// font-family: 'Neucha', cursive;
// font-family: 'Aldrich', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-background-color: $red;
$navbar-item-active-background-color: $purple;
$navbar-item-hover-background-color: $purple;
$section-padding-large: 12rem 6rem;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import '../node_modules/bulma/sass/grid/tiles.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass'